html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(120deg, #18191c 0%, #23243a 100%);
  position: relative;
  overflow-x: hidden;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}